.list-container {
  position: relative;
  flex-grow: 50;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0;

  overflow-y: hidden;

  .country-list {
    height: calc(100% - 2.9rem);
    width: 100%;

    overflow-y: scroll;

    .country-list__item {
      min-height: 3.5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
        
      padding: 0 0.5rem;

      .country-list__text {
        font-size: 1.4rem;
        line-height: 1.8rem;

        .country-list__digits {
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
      }

      .county-list-flag {
        height: 2.4rem;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .country-list__item:not(:first-child) {
      border-top: 1px solid $borderColor;
    }
  }
}

@media screen and (max-width: 1002px) {
  .list-container {
    .country-list {
      .country-list__item {
        padding: 0 0.3rem;
        .country-list__text {
          font-size: 1.2rem;
          line-height: 1.6rem;
          .country-list__digits {
            font-size: 1.4rem;
            line-height: 1.6rem;
          }
        }
        .county-list-flag {
          height: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .list-container {
    .country-list {
      .country-list__item {
        padding: 0 0.2rem;
        .country-list__text {
          font-size: 1rem;
          line-height: 1.4rem;
          .country-list__digits {
            font-size: 1.2rem;
            line-height: 1.4rem;
          }
        }
        .county-list-flag {
          height: 1.6rem;
        }
      }
    }
  }
}
