.map {
  position: relative;
  height: calc(100% - 2.9rem);
  width: 100%;
}

.map-tooltip {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  border-radius: 0;
  opacity: 1 !important;


  height: 7rem;
  width: 15rem;

  box-shadow: 5px 5px 3px -3px rgba(120,120,120,.3);
  color: $fontColorGray;
  background-color: $elementBackgroundColor;
  border: 1px solid $borderColor;

  .map-popup__country {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &::before {
    margin: 0;
    border-color: transparent;
    background-color: transparent;
  }
}
// перебить стили leaflet.js
.zoom-control {
  border: 1px solid $borderColor !important;
  color: $fontColorGray !important;
  border-radius: 0 !important;
  background-color: $elementBackgroundColorLight !important;

  & > a {
    margin: 0.2rem;
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    border-radius: 0 !important;
    color: $fontColorGray !important;
    background-color: $elementBackgroundColorLight !important;
    border: none !important;
    text-indent: 0 !important;

    &:hover {
      color: #2493f2 !important;
    }
  }
}
