.map {
  position: relative;
  height: calc(100% - 2.9rem);
  width: 100%;
}

// перебить стили leaflet.js
.map-tooltip {
  border-radius: 0 !important;
  opacity: 1 !important;

  padding: 0.5rem 1rem;
  // height: 7rem;
  // width: 15rem;

  box-shadow: 5px 5px 3px -3px rgba(120,120,120,.3) !important;
  color: $fontColorGray !important;
  background-color: $elementBackgroundColor !important;
  border: 1px solid $borderColor !important;

  .map-popup__country {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &::before {
    margin: 0;
    border-color: transparent !important;
    background-color: transparent !important;
  }
}

// перебить стили leaflet.js
.zoom-control {
  border: 1px solid $borderColor !important;
  color: $fontColorGray !important;
  border-radius: 0 !important;
  background-color: $elementBackgroundColorLight !important;

  & > a {
    margin: 0.2rem;
    width: 2.5rem !important;
    height: 2.5rem !important;
    font-size: 2rem !important;
    line-height: 2.5rem !important;
    border-radius: 0 !important;
    color: $fontColorGray !important;
    background-color: $elementBackgroundColorLight !important;
    border: none !important;
    text-indent: 0 !important;

    &:hover {
      color: #2493f2 !important;
    }
  }
}

.iconSize0 {
  height: 3.5px;
  width: 3.5px;
}
.iconSize1 {
  height: 5px;
  width: 5px;
}
.iconSize2 {
  height: 6.5px;
  width: 6.5px;
}
.iconSize3 {
  height: 8px;
  width: 8px;
}
.iconSize4 {
  height: 9.5px;
  width: 9.5px;
}
.iconSize5 {
  height: 11px;
  width: 11px;
}
.iconSize6 {
  height: 12.5px;
  width: 12.5px;
}
.iconSize7 {
  height: 14px;
  width: 14px;
}
.iconSize8 {
  height: 15.5px;
  width: 15.5px;
}
.iconSize9 {
  height: 17px;
  width: 17px;
}
