::-webkit-scrollbar {
  width: 0.7rem;
  background: #404040;
}
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}
::-webkit-scrollbar:active {
  background: #474747;
}
::-webkit-scrollbar-thumb:hover {
  background: #787878;
}
::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
