@import "constant";
@import "main";
@import "header";
@import "footer";
@import "scrollbar.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: $fontColorGray;
}

body {
  height: 100vh;
  min-height: 59.9rem;
  width: 100%;
  min-width: 50rem;

  padding: 0.5rem 1rem;

  background-color: $blackBackground;
}

.border {
  background-color: $elementBackgroundColor;
  border: 1px solid $borderColor;
}

.hidden {
  display: none !important;
}

.fullScreen {
  width: 100%;
  column-gap: 0;
}

.no-width {
  min-width: 0;
}

.cases-digits {
  color: red;
}
.deaths-digits {
  color: white;
}
.recovered-digits {
  color: green;
}